.THIS.slds-accordion__list-item:first-child{
    border-top: 1px rgb(221, 219, 218) solid;
}
.THIS.slds-accordion__list-item{
   border: 1px rgb(221, 219, 218) solid;
   min-height: 1px;
}
.THIS .slds-accordion__section.slds-is-open .slds-accordion__content[aria-hidden=false]{
   -webkit-transition: all 0.3s linear;
    font-size: 0.9rem;
}
.THIS .slds-accordion__section .slds-accordion__content[aria-hidden=true]{
   -webkit-transition: all 0.3s linear;
    height: 0;
    font-size: 0.9rem;
}
.THIS.slds-accordion__list-item{
    font-size: 0.9rem;
}