.THIS {
     transition: opacity 0.25s ease, max-height 0.25s ease;
    transition-duration: 0.25s;
    transition-timing-function: ease; 
}
.THIS.slds-accordion__list-item{
   border: 1px rgb(221, 219, 218) solid;
}
.THIS .slds-is-open .slds-accordion__content{
     transition: opacity 0.25s ease, max-height 0.25s ease;
    transition-duration: 0.25s;
    transition-timing-function: ease; 
}
.THIS .slds-accordion__content{
    transition: opacity 0.25s ease, max-height 0.25s ease;
    transition-duration: 0.25s;
    transition-timing-function: ease; 
}
.THIS .slds-accordion__content{
    font-size: 0.9rem;
}
.THIS.slds-accordion__list-item{
    
}