.THIS .slds-text-heading_medium.slds-hyphenate {
    font-weight: bold;
    font-size: 1.5rem;
}
.THIS .toggle {
    display: none;
}
.THIS .slds-modal__container{
    max-width: 80%;
    width: 70%;
    min-height: 10rem;
}
.THIS .slds-modal__content .row{
    min-height: 5rem;
}

.THIS .slds-modal__content textarea{
    resize: vertical;
    max-height: 20rem;
    min-height: 4rem;
}
.THIS .slds-file-selector{
    width: 100%;
}
.THIS .slds-file-selector__dropzone{
    width: 100%;
    height: 10rem;
}
.THIS .dragPicture{
    height: 10rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 3px dashed  grey;
    background-color: #eff4f7;
    box-shadow: 0 0 3px 1px grey;
    transition: all linear 0.3s;
    animation: maskBorder 6s infinite;
    
}
.THIS .on_drag{
    border: 3px dashed  black;
    background-color: #dbfce6;
}
.THIS .on_drag{
    
}
.THIS img.preview_img{
        margin-top: 1rem;
        margin-left: 1rem;
        max-height: 7rem;
        max-width: 6rem;
        border: 4px solid #D3D3D3;
        border-radius: 3px;
        display: none;
        position : absolute;
        z-index: 10100;
    }
.THIS .removeFile{
    cursor: pointer;
    color: red;
    font-weight:bold;
    font-size: 1rem;
    transition: all 0.5s ease;
}
.THIS .removeFile span:hover{
    transform: scale(1.5);
}
@keyframes maskBorder {    
    0%  { border: dashed #e5e5e5 3px; }
    10% { border: dashed #edf1f4 3px; }
    20% { border: dashed #eaf3f9 4px; }
    30% { border: dashed #d4eafc 4px; }
    40% { border: dashed #cee1ef 3px; }
    50% { border: dashed #afc9dd 3px; }
    60% { border: dashed #8fb7d6 4px; }
    70% { border: dashed #7db1d8 4px; }
    80% { border: dashed #6ca5d1 3px; }
    90% { border: dashed #84a4bc 3px; }
    100% { border: dashed #a7bac9 4px;}
}